/* variable */

:root {
  --transtion-speed: 0.5s;
  --main-color: #febb00;
  --sec-color: #fcf1cc;
  /* --main-color: #F2BD12; */
  --popup-color: #000000ba;
  --website-bg-color: #fff;
  --section-bg-color: #eeeeee;
  /* --website-text-color: black; */
  --website-text-color: #212121;
  --sec-text: #777;
  --icon-color: #212020;
  --Title-text: #212020;
  --hover-card: #666666;

  /* btn  */
  --hover-btn: #181818;
  --sec-btn-bg: #181818;

  /* padding */
  --section-padding: 80px 0;

  /* section title margin */
  --title-section-margin: 80px;
}

/* :root {
  --lead: #212121;
  --gold-finger: #F2BD12;
  --eye-ball: #FFFDF7;
  --hint-yellow: #FCF1CC;
  --pure-white: #FFF;
} */

/* get color later */

/* End   variable */

/* Dark mode  */

.dark-mode {
  --website-bg-color: rgb(26, 24, 24);
  --website-text-color: white;
  --section-bg-color: rgb(26, 24, 24);
  --icon-color: white;
  --Title-text: white;
  --sec-text: #fff;
  --sec-color: rgb(26, 24, 24);
  --hover-btn: #febb00;
}

/* End Drak mode  */

/* customize scroll bar  */

::-webkit-scrollbar {
  width: 10px; /* small and sleek */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* End  */

/* main role */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
p,
.nav,
.button {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
.logo {
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.ml-5 {
  margin-left: 5px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

.primary-btn {
  background-color: var(--main-color);
  margin-top: 30px;
  margin: 50px auto auto;
  font-size: 25px;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
  color: var(--website-text-color);
}

.btn {
  /* font-size: 20px; */
  width: 120px;
  padding: 10px 19px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  color: var(--website-text-color);
  background: var(--main-color);
  color: white;
  transition: var(--transtion-speed);
}

.btn:hover {
  background-color: var(--hover-btn);
}

/* All Main Title on every section  */

.sec-Title {
  text-align: center;
  font-size: 40px;
  color: var(--website-text-color);
  position: relative;
  width: fit-content;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
}

.sec-Title::before {
  content: "";
  position: absolute;
  bottom: -14px;
  width: 20%;
  height: 3px;
  background-color: var(--main-color);
  animation: slide-line 2s linear infinite;
  width: 0%;
}

/* .sec-Title:hover::before {
  width: 100%;
  transition: var(--transtion-speed);
} */

/* Keyframes for infinite animation */
@keyframes slide-line {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

/* End All Main Title on every section  */

/* End role */

/* Preloader */

.wrapper-loading {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  background-color: #ffc527eb;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #666666 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

/* End Preloader */

/* Arrow up scroll  */

.arrow-link {
  text-decoration: none;
  /* pointer-events: none; */
  opacity: 0;
}

.arrow-link.active {
  /* pointer-events: all;  */
  opacity: 1;
}

.arrow-link .arrow-up {
  background-color: var(--hover-card);
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--main-color);
}

/* end  */

.container {
  /* width: 100%; */
  /* max-width: 600px; */
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red ; */
}

/* Small devices (≥576px) */

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
    background-color: blue !important;
  }
} */

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
    /* overflow: hidden; */
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    /* max-width: 1170px; */
    max-width: 1400px;
  }
}

/* Start hader  */

.text-logo {
  font-size: 30px;
  font-weight: 800;
  color: var(--website-text-color);
}

.subtext-logo {
  color: var(--main-color);
}

header {
  /* margin: 0;
  padding: 0; */
  background-color: var(--website-bg-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  min-height: 12dvh;
}

header .container {
  background-color: var(--website-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  min-height: 12dvh;
}

.logo {
  width: 50px;
}

.berger-menu {
  display: none;
  color: var(--website-text-color);
  cursor: pointer;
  position: relative;
}

.berger-menu .fa-bars-staggered {
  font-size: 25px;
  display: block;
  transform: rotate(180deg);
  transition: var(--transtion-speed);
}

.berger-menu .fa-bars-staggered:hover {
  transform: rotate(90deg);
}

.berger-menu .fa-xmark {
  color: var(--website-text-color);
  display: none;
  font-size: 25px;
}

/* Start Mobile Tab media query */

@media (max-width: 991px) {
  .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
  }
  .fa-shopping-bag {
    margin-right: 0 !important;
  }

  .berger-menu {
    display: block;
    position: relative;
  }

  .nav-links ul,
  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul.active {
    display: flex;
    flex-flow: column;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    row-gap: 40px;
    top: 113px;
    left: 8px;
    width: 98%;
    padding: 15px 2px;
    border-radius: 130px;
    /* z-index: 10; */
    height: 60dvh;
    background: #fff;
    /* backdrop-filter: blur(20px); */
    border: 3px solid var(--main-color);
  }

  .nav-links ul.active li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* background-color: var(--main-color); */
    padding: 15px 10px;
    margin: 10px auto;
    transition: var(--transtion-speed);
  }

  .nav-links ul.active li:hover {
    background-color: var(--main-color);
    border-radius: 10px;
    scale: 0.9;
  }

  .nav-links ul.active li:hover a {
    color: #fff;
  }
  .nav-links ul.active li a {
    font-size: 17px;
    color: #212121;
  }
}

/* End Mobile Tab media query */

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.nav-links ul li {
  padding: 10px;
  margin-right: 10px;
}

nav ul li.active-link a {
  color: var(--main-color);
}

nav ul li a {
  display: block;
  border-radius: 10px;
  color: var(--website-text-color);
  font-size: 16px;
  transition: var(--transtion-speed);
  text-transform: capitalize;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--main-color);
}

.cart-content {
  position: relative;
  display: inline-block;
}

.cart-content span {
  position: absolute;
  left: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 18px;
  color: #fff;
}

.fa-shopping-bag {
  font-size: 25px;
  margin-right: 15px;
  /* color: var(--website-text-color); */
  color: var(--icon-color);
}

/* Dark mode light btn  */

.swith-icon {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .swith-icon {
    /* margin-top: 10px; */
  }
}

.fa-sun {
  display: none;
}

.fa-moon {
  display: block;
}

/*  */

/* sign up  Modal */

.sign-modal {
  min-width: 100%;
  min-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--popup-color);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.sign-box {
  background-color: var(--website-bg-color);
  width: 800px;
  height: fit-content;
  z-index: 11;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 567px) {
  .sign-box {
    width: 450px;
    max-width: fit-content;
    margin: auto;
  }
}

/* Large devices (≥992px) */
@media (max-width: 768px) {
  .sign-box {
    width: 500px;
    margin: auto;
  }
}

/*  */

.sign-box .title {
  text-align: center;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 5px 5px 0 0;
  font: 20px;
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  text-align: center;
  padding: 11px;
  color: #fff;
}

.title-box {
  margin-bottom: 30px;
  color: var(--website-text-color);
}

.sign-box form {
  border: 1px soild red;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sign-box form .name-groub {
  border: 1px soild red;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 768px) {
  .sign-box form .name-groub {
    flex-direction: column;
    gap: 20px;
  }
}

.first,
.last {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-box form div label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  color: var(--website-text-color);
}

.sign-box form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.sign-box form input:focus-within {
  border: 1px solid var(--main-color);
}

.btn-submit {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  color: var(--website-text-color);
  border-radius: 5px;
  border: 1px solid var(--main-color);
  font-weight: 700;
  background: none;
  cursor: pointer;
  transition: var(--transtion-speed);
}

.btn-submit:hover {
  background-color: var(--main-color);
}

/* End  Sign up  Modal  */

/* Cart Modal */

.cart-popup {
height: 73dvh;
    background-color: var(--website-bg-color);
    width: 480px;
    position: absolute;
    top: 113px;
    right: 0;
    z-index: 100;
    padding: 0 0 10px 0;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    display: none;
}

.cart-popup.cart-active {
  display: block;
}

.cart-popup .cart-title {
  text-align: center;
  color: var(--website-text-color);
  font-size: 25px;
  padding: 30px 0;
  font-weight: 800;
  border-bottom: 1px solid #8080801f;
  position: relative;
  cursor: pointer;
}

.cart-title .fa-xmark {
  font-size: 20px;
  background-color: var(--hover-btn);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.cart-popup .cart-list {
  overflow: scroll;
  height: 435px;
}

.cart-popup .food-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #8080801f;
  color: var(--website-text-color);
  position: relative;
  padding: 0 15px;
}

.food-item .trash-icon {
  position: absolute;
  top: 42px;
  right: 20px;
  color: #80808080;
  transition: var(--transtion-speed);
  cursor: pointer;
  display: none;
}

.food-item:hover .trash-icon {
  display: flex;
}

.food-item .trash-icon:hover {
  color: red;
  transform: translateY(-1px);
}

.cart-popup .food-item:last-child {
  border-bottom: none;
}

.cart-popup .food-item img {
  width: 100px;
  padding: 10px;
}

.cart-popup .info {
  margin-left: 20px;
  line-height: 28px;
}

.cart-popup .info h3 {
  font-size: 18px;
  font-size: 17px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-popup .quantity-btns {
  margin-left: 50px;
  /* margin-right: 40px; */
  display: flex;
  width: 75px;
  justify-content: space-around;
  align-items: center;
}

.quantity-btns .quantity-btn {
  background-color: var(--hover-btn);
  color: white;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-btns span {
  font-size: 14px;
}

.price-total {
  text-align: center;
  background-color: var(--main-color);
  color: var(--website-text-color);
  padding: 20px;
  font-weight: 800;
  font-size: 18px;
}

.pay-btn {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  background-color: var(--hover-btn);
  width: 200px;
}

/* End Cart Modal  */

/* End header  */

/*=================== Start hero section ====================== */

.hero-sec {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: var(--website-bg-color);
  padding: 200px 0;
}

.hero-sec .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* margin: auto 0 ; */
}

@media screen and (max-width: 991px) {
  .hero-sec .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .hero-sec {
    min-height: 130dvh;
  }
}

.hero-left,
.hero-img {
  flex: 1;
}

.hero-left p:first-child {
  color: var(--website-text-color);
  font-size: 80px;
  line-height: 100px;
  font-weight: 800;
}

.hero-left .spical-text {
  color: var(--main-color);
}

.hero-left p:nth-child(2) {
  margin: 50px 0;
  font-size: 18px;
  color: var(--website-text-color);
  line-height: 40px;
  font-weight: 400px;
}

@media screen and (max-width: 991px) {
  .hero-sec {
    text-align: center;
  }

  .hero-left p:first-child {
    font-size: 40px;
    line-height: 50px;
  }
}

/* icons  */

.hero-icons {
  display: inline-flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.hero-icons .btn.btn-hero {
  width: 175px;
  text-align: center;
  padding: 18px 22px;
  font-weight: bold;
  transition: var(--transtion-speed);
}

.hero-icons .btn.btn-hero:hover {
  letter-spacing: 3px;
}

.hero-icons .fa-brands {
  font-size: 20px;
  color: #212121;
  width: 45px;
  height: 45px;
  background: #fcf1cc;
  aspect-ratio: 1;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transtion-speed);
}

.hero-icons .fa-brands:hover {
  scale: 1.8;
  color: var(--main-color);
}

.hero-img {
  width: 60%;
}

.hero-img img {
  max-width: 100%;
}

/*=================== End  hero section ====================== */

/*=================== Start about section ====================== */

.about-sec {
  padding: var(--section-padding);
  background-color: var(--section-bg-color);
  position: relative;
}

.about-sec .container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
}

.order-number {
  padding: 20px;
  text-align: center;
  border: 3px solid gray;
  color: var(--Title-text);
  line-height: 30px;
  margin-top: 10px;
}

.order-number h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.order-number p {
  color: var(--main-color);
  font-size: 28px;
}

.tabel-img {
  width: 700px;
}

.tabel-img img {
  width: 100%;
}

/* left div  */

.about-right {
  /* border: 3px solid red; */
  width: 500px;
}

.about-right .descption {
  margin-bottom: 20px;
  line-height: 25px;
  color: #777;
}

.about-right .check-list {
  margin-bottom: 30px;
  line-height: 40px;
  color: var(--website-text-color);
}

.about-right .check-list .key-benefit::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}

.about-right .info {
  line-height: 30px;
  margin-bottom: 40px;
  color: var(--website-text-color);
}

.breakfast-img {
  /* flex: 1; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breakfast-img img {
  width: 100%;
  max-width: 100%;
}

.breakfast-img i {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  transition: var(--transtion-speed);
}

.breakfast-img i {
  transform: rotate3d(0, 1, 0, 360deg); /* spins diagonally */
  animation: rotateVideoBtn 2s linear infinite;
  transform-origin: center;
}

/* animation */
@keyframes rotateVideoBtn {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  40% {
    transform: rotate3d(0, 1, 0, 180deg); /* halfway spin */
  }
  60% {
    transform: rotate3d(0, 1, 0, 180deg); /* pause here */
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg); /* finish spin */
  }
}

/* Pop up video  */

.video-popUp {
  width: 100%;
  min-height: 120dvh;
  background-color: var(--popup-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: hidden;
}

.video-popUp iframe {
  min-height: 70dvh;
  width: 90%;
  /* aspect-ratio: auto; */
  border: 12px solid var(--main-color);
  position: relative;
  margin-top: 150px;
}

.video-popUp i {
  font-size: 30px;
  color: gray;
  position: absolute;
  z-index: 20;
  top: 293px;
  right: 25px;
  cursor: pointer;
  opacity: 0.7;
  transition: var(--transtion-speed);
}

.video-popUp i:hover {
  opacity: 1;
  color: #fff;
}

.show-video {
  display: flex;
}

/* End Pop up video  */

/*=================== End  about section ====================== */

/* Start Services */

.services {
  padding: var(--section-padding);
  background-color: var(--website-bg-color);
}

.titles-content {
  margin-bottom: 80px;
  text-align: center;
}

.titles-content .sub-title {
  color: var(--main-color);

  /* make animation letter spacing */
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.titles-content .title {
  font-weight: 900;
  font-size: 50px;
  color: var(--website-text-color);
  margin-top: 5px;
}

.services-box {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  text-align: center;
  gap: 60px;
  justify-content: space-between;
}

.services-box .serv-box {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--website-text-color);
  line-height: 50px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: var(--transtion-speed);
  cursor: pointer;
}

.serv-box h3 {
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 25px;
}
.serv-box p {
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
}

.services-box .serv-box:hover {
  line-height: 80px;
  color: white;
  background-color: var(--hover-btn);
}
/* End  Services */

/*=================== Start our Menu ====================== */

.meal-sec {
  padding: var(--section-padding);
  background-color: var(--website-bg-color);
}

.meal-sec .container {
  /* background-color: gray; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
}

.meal-sec input[type="search"] {
  /* flex: 1; */
  width: 100%;
  padding: 18px 12px;
  border-radius: 50px;
  outline: none;
  border: 2px solid #80808024;
  padding-left: 20px;
  margin-bottom: 40px;
}

.meal-sec input[type="search"]:focus {
  border: 3px solid var(--main-color);
  outline: none;
}

.category-content {
  margin-bottom: 40px;
  display: inline-flex;
  gap: 25px;
  flex-wrap: wrap;
}

.category-content span {
  width: 150px;
  text-align: center;
  padding: 20px;
}

.category-content span.active {
  background-color: var(--hover-btn);
}

.foods-card {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  height: 1000px;
  overflow: scroll;
}

.food-card {
  border: 2px solid var(--main-color);
  text-align: center;
  border-radius: 5px;
  /* padding: 30px 0; */
  padding: 0 0 20px;
}

.food-card .food-image {
  width: 100%;
  margin: auto;
}

.food-card .food-image img {
  max-width: 100%;
}

.food-card .food-details {
}

.food-card .food-details h3 {
  font-size: 25px;
  color: var(--website-text-color);
  margin-bottom: 10px;
}

.food-card .food-details p {
  color: var(--main-color);
  font-size: 20px;
}

.food-card .add-to-cart-btn {
  width: 200px;
  margin-top: 10px;
}


.food-card .add-to-cart-btn.in-cart{
    pointer-events: none;
    background-color: transparent;
    color: var(--website-text-color);
    border: 2px solid var(--main-color);
}



/*=================== end  our Menu ====================== */

/*=================== Start our app  ====================== */

.sec-our-app {
  padding: var(--section-padding);
  background-color: var(--website-bg-color);
}

.sec-our-app .container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--sec-color);
  padding: 100px 0;
}

@media screen and (max-width: 991px) {
  .sec-our-app .container {
    row-gap: 100px;
    text-align: center;
    flex-wrap: wrap;
  }
}

.app-img {
  width: 50%;
}

.app-img img {
  max-width: 100%;
}

.app-descrptions {
}

.app-descrptions p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}

.app-descrptions h1 {
  margin: 20px 0 50px;
  font-size: 60px;
  color: var(--website-text-color);
}

.app-descrptions p:nth-of-type(2) {
  /* background-color: red; */
  margin-bottom: 50px;
  line-height: 20px;
  color: var(--Title-text);
}

.btn.app-btn {
  width: 170px;
  display: block;
  /* margin: auto; */
  text-align: center;
  padding: 18px 20px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .btn.app-btn {
    width: 100%;
  }
}

/*=================== End  our app ====================== */

/* Start News  */

.sec-news {
  padding: var(--section-padding) 0;
  background-color: var(--section-bg-color);
}

/*=================== start  who we are ====================== */

/*=================== End who we are ====================== */

/* Start Subscripe News  */

.subscripe-section {
  padding: var(--section-padding) 0;
}

.subscripe-section .container {
  background-image: url("../imgs/project-images19.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;
}

.subscripe-section .container .subscribe-title {
  text-align: center;
}

.subscripe-section .container .subscribe-title h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 300;
  text-shadow: rgb(0, 0, 0) 0px 0px 4px;
  text-transform: uppercase;
}

.subscribe-title p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-shadow: rgb(0, 0, 0) 0px 0px 3px;
  margin: 0px 0px 30px;
  line-height: 1.2;
}

.subscripe-content {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .subscripe-content {
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
  }
}

.subscripe-content button {
  background: #ffc527 none repeat scroll 0 0;
  border: medium none transparent;
  border-radius: 100px;
  color: #fff;
  font-size: 15px;
  height: 45px;
  padding: 12px 30px;
  margin-right: 10px;
  cursor: pointer;
}

.subscripe-content input {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  border: medium none transparent;
  border-radius: 100px;
  height: 45px;
  padding: 0 20px;
  width: 60%;
  outline: none;
}

.subscripe-content input:focus-within {
  border: 5px solid #ffc527;
}

@media (max-width: 768px) {
  .subscripe-content input {
    width: 100%;
  }
}

/*=================== End Subscribe News  ====================== */

/*=================== Start meet Team ====================== */

.team-section {
  background-color: var(--website-bg-color);
  padding: var(--section-padding) 0;
}

.team-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* flex-wrap: wrap; */
}

@media (max-width: 768px) {
  .team-section .container {
    flex-flow: column-reverse wrap;
    row-gap: 100px;
  }
}

.team-section .container .team-card {
  text-align: center;
  line-height: 1.8;
  /* height: 500px; */
  width: 350px;
  transition: var(--transtion-speed);
  color: var(--website-text-color);
}

@media (max-width: 768px) {
  .team-section .container .team-card {
    width: 100%;
  }
}

.team-card:hover {
  transform: translateY(-25px);
}

.img-container {
  /* width: 33.33%; */
  position: relative;
  max-width: 100%;
}

.img-container .social-media-links {
  position: absolute;
  background: rgba(20, 20, 20, 0.7) none repeat scroll 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transtion-speed);
  opacity: 0;
  --webkit-transform: scale(0);
}

.img-container:hover .social-media-links {
  opacity: 1;
  --webkit-transform: scale(1);
}

.social-media-links i:not(:last-child) {
  margin-right: 30px;
}

.social-media-links i {
  font-size: 18px;
  color: var(--main-color);
  background-color: gray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.team-card .team-img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .img-container .social-media-links {
    height: 98.5%;
  }

  .team-card .team-img {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
}

.team-card h4 {
  font-size: 17px;
}

/*=================== End meet Team ====================== */

/*=================== Start footer ====================== */

footer {
  padding: var(--section-padding);
  background-color: var(--sec-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    row-gap: 50px;
  }
}

.about-yum p {
  color: gray;
  line-height: 25px;
  margin: 30px 0 10px;
  font-size: 17px;
}

footer a {
  color: gray;
}

.footer-title {
  color: var(--website-text-color);
  margin-bottom: 10px;
}

footer .text-logo {
  margin-bottom: 20px;
}

footer .social-icon {
  display: flex;
  justify-content: space-around;
}

footer .social-icon i {
  margin-right: 20px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

footer ul li {
  padding: 10px;
}

/* Copy right */

.copy-right {
  padding: 20px 0;
  text-align: center;
  background-color: var(--main-color);
}
.copy-right p {
  font-size: 18px;
  color: white;
}

/* End  */

/*=================== End footer ====================== */
